@font-face{
font-family: 'Montserrat', sans-serif;
src: url('font/montserrat.ttf');
}

body{
    background-color: #fd5255;
    font-family: 'Montserrat', sans-serif;
}


a{
    text-decoration: none !important;
}


/* HOME PAGE */

/* Menu */

#myhome{
    background-image: url(images/musicien.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.logo{
    color: white;
    font-size: 25px;
}


.logo:hover{
    color: #fd5255;
}


.navbar{
    background-color: rgba(00, 00, 00, 0.5);
}


.menu{
    margin-top: 25px;
    font-family: "Montserrat";
    float: right;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    height: 40px;
}


.barremenu{
    padding: 10px 10px 10px 10px;
    transition: 1s;
    border: solid 1px transparent;
    text-transform: uppercase;
}


.barremenu:hover{
    color: #fd5255;
}


a:hover, a:focus, a {
    color: #ffffff;
    text-decoration: none;
}



/* Texte */

.texte1, h3{
    font-size: 80px;
    margin-top: 210px;
    text-align: center;
    color: white;
}

.texte2, h3{
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: white;
    margin-left: 250px;
    margin-right: 250px;
}



/* CTA */

.bouton{
    text-align: center;
    margin-top: 30px;
}


.cta{
    padding: 15px 90px 15px 90px;
    border: solid 1px white;
    color: white;
    text-transform: uppercase;
    transition: 1s;
    font-weight: 700;
    font-size: 20px;
}


.cta:hover{
    color: white;
    background-color: #fd5255;
    border: solid 1px #fd5255;
}



/* Footer */

.footer{
    background-color: rgba(00, 00, 00, 0.5);
    text-decoration: none;
    padding-top: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
}


.footer a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 10px;
}


.footer a:hover {
    color: #fd5255;
    text-decoration: none;
}



/* PAGE TOP */

.title{
    margin-top: 100px;
    margin-bottom: 30px;
}

.title p{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}


.numero{
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 10px;
}


.fight:hover{
    opacity: 0.5;
}


.label{
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center; 
}


/* Effet curseur*/

.ball {
  pointer-events: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 80%;
  background: gray;
  animation: implode 2s  ease-in-out;
  animation-fill-mode: both;
  opacity: .4;
}

@keyframes implode {
  100% {transform: scale(0)}
}