body{
  background-color: black;
}


.title{
  margin-bottom: 5%;
}

.title p{
  color:white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}


.numero{
  font-size: 60px;
  font-weight: bold;
  color:white;
  text-align: center;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fight:hover{
  opacity:0.5;
}

/* Effet balle*/

.ball {
  pointer-events: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 80%;
  background: gray;
  animation: implode 2s  ease-in-out;
  animation-fill-mode: both;
  opacity: .4;
}

@keyframes implode {
  100% {transform: scale(0)}
}

